name: Deploy To Google Play

on:
  push:
    branches: [main]

jobs:
  test:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - name: Run tests
        run: ./gradlew testDebugUnitTest

  distribute:
    name: Distribute App to Google Play
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Calculate Version Code
        run: echo "VERSION_CODE=$((${{ github.run_number }} + 16))" >> $GITHUB_ENV

      - name: Version Bump
        uses: chkfung/android-version-actions@v1.2.3
        with:
          gradlePath: app/build.gradle.kts
          versionCode: ${{ env.VERSION_CODE }}

      - name: Assemble Release Bundle
        run: ./gradlew bundleRelease

      - name: Verify bundle location
        run: ls -la app/release/

      - name: Sign Release
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/release
          signingKeyBase64: ${{ secrets.ANDROID_KEYSTORE }}
          keystorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          alias: ${{ secrets.LAW_ENFORCEMENT_KEY_ALIAS }}
          keyPassword: ${{ secrets.LAW_ENFORCEMENT_KEY_PASSWORD }}

      - name: Setup Authorization with Google Play Store
        run: echo '${{ secrets.PLAY_AUTH_JSON }}' > service_account.json

      - name: Deploy to Production
        uses: r0adkll/upload-google-play@v1.0.19
        with:
          serviceAccountJson: service_account.json
          packageName: com.boryanz.upszakoni
          releaseFiles: app/release/app-release.aab
          track: production
          status: completed




